/* Mobile menu css taken from https://codepen.io/erikterwan/pen/grOZxx */
:root {
    /* declare a variable with `--` syntax */
    --bck_light: #EBD9B9;
    --bck_color_two: #e0c391;
    --text_color: #0D0504;
    --header_text: #61362E;
    --link_color: #09376B;
  }


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bck_light);
    font-family: "Open Sans", sans-serif;
}

p{
    font-size: 24px;
}

a{
    color: var(--link_color);
}

a:hover{
    font-style: italic;
}

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: var(--bck_color_two);
}

header h1{
    padding: 20px;
}

header h1 a{
    color: var(--link_color);
    text-decoration: none;
}

header h1 a:hover{
    font-style: normal;
}

nav{
    padding: 20px;
}

nav ul{
    list-style-type: none;
    /*display: flex;
    flex-wrap: wrap;*/
}

nav ul li{
    list-style-type: none;;
    padding-bottom: 20px;
}

nav ul li a{
    padding: 0px 10px;
    color: var(--link_color);
    text-decoration: none;
    font-size:18px;
}

nav ul.non_mobile{
    display: none;
}

#menuToggle{
    display: block;
    position: relative;
    top: 10px;
    right: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a{
    padding: 0px 10px;
    color: var(--link_color);
    text-decoration: none;
    font-size:20px;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
  color: tomato;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--header_text);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--header_text);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -150px;
  background: var(--bck_color_two);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle input:checked ~ ul{
  transform: none;
  opacity: 1;
}

main{
    padding: 20px;
    padding-top: 150px;
}

main section{
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: var(--header_text) 2px double;
    padding: 20px 0px;
    font-size: 20px;
}

main section:last-child{
    border-bottom: none;
}

main section h2{
    flex-basis: 100%;
    text-align: center;
}

#intro{
    align-items: center;
    align-content: center;
}

#intro h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

#intro div{
    text-align: center;
    flex-basis: 50%;
}

#intro img{
    width: 250px;
    border-radius: 100%;
}

#work h2{
    margin-bottom: 20px;
}

#work .portfolio_project_section{
    display: flex;
    flex-wrap: wrap;
}

.portfolio_card {
    flex: 1 1 0;
    min-width: 250px;
    padding: 20px;
    border: #000 thin solid;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.portfolio_card h3{
    /*margin-bottom: 30px;*/
    min-height: 70px;
}

.portfolio_card img{
    text-align: center;
    transition:all 0.25s ease;
    width: 90%;
    border-radius: 5px;;
}

.portfolio_card:hover img {
    transform: scale(1.1);
    -webkit-transform:scale(1.1);
}


.portfolio_card figcaption{
    font-size: 10px;
}

#contact ul li{
    list-style-type: none;
    line-height: 40px;
}

#contact ul li.email::before{
    content: '\2709';
    padding-right: 5px;
}

#contact ul li.phone::before{
    content: '\2706';
    padding-right: 5px;
}

footer{
    background-color: var(--bck_color_two);
    color: var(--text_color);
    font-size: 20px;
    padding:20px;
    text-align: center;
}