@media screen and (min-width:768px){
    main{
        padding-top: 100px;
    }

    nav ul.non_mobile{
        display: flex;
        
    }

    nav ul li{
        padding-bottom: 0px;
    }

    #menuToggle{
        display: none;
    }

    .split_half{
        flex-basis: 50%;
    }

    main section{
        align-items: center;
    }

}